# List of the dependencies for the mirrormanager flask server

flask
flask-admin
flask-xml-rpc-re
flask-wtf
flask-user
wtforms
SQLAlchemy>=0.7
python-openid
python-openid-cla
python-openid-teams
IPy
dnspython
uwsgi
